<div class="text-center" ng-if="ctrl.user">
    <h2>User Details</h2>
    <p>First Name: {{ctrl.user.firstName}}</p>
    <p>Last Name: {{ctrl.user.lastName}}</p>
    <p>Email: {{ctrl.user.email}}</p>
    <p>Phone: {{ctrl.user.phone}}</p>
    <p>Favorite Dish:</p>
    <img ng-src="/images/menu/{{ctrl.user.favDish.category_short_name}}/{{ctrl.user.favDish.short_name}}.jpg" 
    alt="Favorite Dish Image">
    <p>{{ctrl.user.favDish.name}}</p>
    <p>{{ctrl.user.favDish.description}}</p>
</div>

<div class="text-center" ng-if="!ctrl.user">
    You haven't signed up.
    <a ui-sref="public.registration">Sign Up Now</a>
</div>